h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 32px;
}
p {
    font-family: 'Manrope', sans-serif; 
    font-size: 18px;
    padding: 20px;
}
#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
#topMenu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 15px;
}
#topMenu p {
    padding: 10px;
    display: inline-block;
    color: black;
}
footer {
    background-color:#bec0ce;
}
#bottomMenu p {
    padding: 10px;
    display: inline-block;
    color: white;
}
.content{
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color:#bec0ce;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(90, 90, 90);
}
.content img {
    padding: 25px;
}
.gap {
    padding: 10px;
}
button {
    border-radius: 10px;
    background-color: #CECCBE;
    font-size: 18px;
    padding: 5px;
}
.flexContainer {
    display: flex;
    margin: auto;
    padding:25px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#bec0ce;
    border-radius: 50px;
    width:900px;
    box-shadow: 10px 10px 10px rgb(90, 90, 90);
}
.workGrid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "projectImage1 project1"
    "projectImage2 project2"
    "projectImage3 project3";
    margin: auto;
    padding:10px;
    background-color:#bec0ce;
    border-radius: 50px;
    width: 800px;
    box-shadow: 10px 10px 10px rgb(90, 90, 90);
}
.project1 {
    grid-area: project1;
    width: fit-content;
    padding: 20px;
}
.projectImage1 {
    grid-area: projectImage1;
    width: fit-content;
    padding: 20px;
}
.project2 {
    grid-area: project2;
    width: fit-content;
    padding: 20px;
}
.projectImage2 {
    grid-area: projectImage2;
    width: fit-content;
    padding: 20px;
}
.project3 {
    grid-area: project3;
    width: fit-content;
    padding: 20px;
}
.projectImage3 {
    grid-area: projectImage3;
    width: fit-content;
    padding: 20px;
}
h4 {
    font-family: 'Rock Salt', cursive;
}
.projectArea {
    padding: 20px;
    margin: 20px;
    align-content: flex-start;
    justify-content: flex-start;
    display: grid;
    font-family: 'Manrope', sans-serif; 
    font-size: 50px; 
}
h3 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
}
section.mySkills {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}
.skillsImage img {
    padding: 10px;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .workGrid {
        width: 75%;
        height: auto;
        grid-template-rows: 300px 300px 300px 300px 300px 350px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "projectImage1"
        "project1"
        "projectImage2"
        "project2"
        "projectImage3"
        "project3"
        ;
    }
    .flexContainer {
        width: 75%;
        flex-direction: column;
        margin: 24px 5px;
        display: flex;
        align-items: center;
    }
    #navigation {
        height: auto;
        width: 100%;
    }
    .content {
        width: 75%;
        flex-direction: column;
        margin: 24px 5px;
        display: flex;
    }  
    .content img {
        width: 50%;
        height: 50%;
        margin: 0px 14%;
    }
    .projectImage1 {
        grid-area: projectImage1;
        width: fit-content;
        padding: 60px;
    }
    .projectImage2 {
        grid-area: projectImage2;
        width: fit-content;
        padding: 60px;
    }
    .projectImage3 {
        grid-area: projectImage3;
        width: fit-content;
        padding: 60px;
    }
    .project1 h4{
        text-align: center;
    }
    .project2 h4{
        text-align: center;
    }
    .project3 h4{
        text-align: center;
    }
    .projectImage1 img {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .projectImage2 img {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .projectImage3 img {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .skillsImage img {
    width: 80%;
  
        
}