h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 32px;
}
p {
    font-family: 'Manrope', sans-serif; 
    font-size: 18px;
    padding: 20px;
}
#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
#topMenu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 15px;
}
#topMenu a p:hover{
    color:black;
    text-decoration: underline;
    }
#topMenu p {
    padding: 10px;
    display: inline-block;
    color: black;
}
#footerNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    color: white;
}
footer {
    display: block;
    background-color:#e3e3e9;
    width: 100%;
}
.rightFooter {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 15px;
    color: black;
}
#bottomMenu p {
    padding: 10px;
    display: inline-block;
    color: black;
}
#bottomMenu a p:hover{
    color:black;
    text-decoration: underline;
    }
.content{
    width: 900px;
    margin: 0 auto;
    padding: 30px;
    background-color:#e3e3e9;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
}
.content img {
    padding: 25px;
}
.gap {
    padding: 25px;
}
button {
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 18px;
    padding: 10px 25px;
    display: inline-block;
    transition: all .2s ease-in-out;

}
  button:hover {
    font-weight: bold;
    background-color: #white;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
  }
  .photoImage img:hover {
    font-weight: bold;
    background-color: #e3e3e9;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
  }
.flexContainer {
    display: flex;
    padding:10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#e3e3e9;
    border-radius: 50px;
    width:900px;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
}
.flexContainercontact {
    display: flex;
    margin: auto;
    padding:25px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#e3e3e9;
    border-radius: 50px;
    width:900px;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
}
.flexContainercontact img{
    padding: 25px;
}
.workGrid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "projectImage1 project1"
    "projectImage2 project2"
    "projectImage3 project3";
    margin: auto;
    padding:10px;
    background-color:#e3e3e9;
    border-radius: 50px;
    width: 900px;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
}
.contactGrid {
    grid-template-rows: auto;
    grid-template-areas: 
    "projectImage1 project1";
    margin: auto;
    padding:10px;
    background-color:#e3e3e9;
    border-radius: 50px;
    width: 600px;
    align-items: center;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
}
.contactGrid img{
    padding: 25px;
}
.project1a {
    grid-area: project1;
    width: fit-content;
    padding: 50px;
    align-items: center;
}
.project2a {
    grid-area: project2;
    width: fit-content;
    padding: 50px;
}
.project1 {
    grid-area: project1;
    width: fit-content;
    padding: 20px;
}
.projectImage1 {
    grid-area: projectImage1;
    width: fit-content;
    padding: 20px;
}
.project2 {
    grid-area: project2;
    width: fit-content;
    padding: 20px;
}
.projectImage2 {
    grid-area: projectImage2;
    width: fit-content;
    padding: 20px;
}
.project3 {
    grid-area: project3;
    width: fit-content;
    padding: 20px;
}
.projectImage3 {
    grid-area: projectImage3;
    width: fit-content;
    padding: 20px;
}
h4 {
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
}
.projectArea {
    padding: 20px;
    margin: 20px;
    align-content: flex-start;
    justify-content: flex-start;
    display: grid;
    font-family: 'Manrope', sans-serif; 
    font-size: 50px; 
}
h3 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
}
section.mySkills {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}
.skillsImage img {
    padding: 10px;
    align-items: center;
}
.preloader {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
  }
  .preloader img {
    width: 150px;
    margin: 0 auto;
    animation: spin 3s ease;
    transition: all;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  
  ul {
    padding: 0;
    margin: 50px 20px;
    list-style: none;
}
ul li {
    margin: 5px;
    display: inline-block;
}
ul li {
    padding: 5px;
    display: inline-block;      
}
ul li img {
    width: 125px;
    height: 125px;
    display: block;
    border-radius: 20px;
    transition: 0.3s;
}
ul li:hover img {
    transform: scale(2.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: solid 1px black;
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color:black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    font-weight: bold;
    background-color: #e3e3e9;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
  }

@media only screen and (max-width: 600px) {
    .workGrid {
        width: 75%;
        height: auto;
        grid-template-rows: 300px 300px 300px 300px 300px 350px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "projectImage1"
        "project1"
        "projectImage2"
        "project2"
        "projectImage3"
        "project3"
        ;
    }
    .flexContainer {
        width: 75%;
        flex-direction: column;
        margin: 24px 5px;
        display: flex;
        align-items: center;
    }
    #navigation {
        height: auto;
        width: 100%;
    }
    .content {
        width: 75%;
        flex-direction: column;
        margin: 24px 5px;
        display: flex;
    }  
    .content img {
        width: 50%;
        height: 50%;
        margin: 0px 14%;
    }
    .projectImage1 {
        grid-area: projectImage1;
        width: fit-content;
        padding: 60px;
    }
    .projectImage2 {
        grid-area: projectImage2;
        width: fit-content;
        padding: 60px;
    }
    .projectImage3 {
        grid-area: projectImage3;
        width: fit-content;
        padding: 60px;
    }
    .project1 h4{
        text-align: center;
    }
    .project2 h4{
        text-align: center;
    }
    .project3 h4{
        text-align: center;
    }
    .projectImage1 img {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .projectImage2 img {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .projectImage3 img {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .skillsImage img {
    width: 80%;
    }
    .photography {
        height: auto;
        width: auto;
    }
  
        
}